.header {
    background: $globalnav-background;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .navbar {
        max-width: 73%;
        margin: auto;
        color: #fff;

        @media (max-width: rem(1300)) {
            max-width: 90%;
        }

        @include breakpointDown(tablet) {
            max-width: 95%;

        }

        &.active {
            background: $globalnavmobile-background;

            .middle {
                max-height: 100%;
                overflow: auto;
                opacity: 1;

            }

            .right,
            .logo {
                visibility: hidden;
            }
        }
    }

    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            margin-top: 5px;
            transition: visibility .3s ease-in;

            a {

                &:hover {
                    opacity: .78;
                }
            }
        }

        .list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: rem(34);

            @include breakpointDown(desktop) {
                column-gap: rem(20);
            }
        }

        .items {

            .globalnav-link-chevron {
                display: none;
                transform: rotate(360deg);
            }

            a {
                color: $globalnav-color;
                font-size: .8rem;
                font-weight: 300;
                transition: opacity .3s ease-in;

                @media (min-width: rem(1920)) {
                    font-size: rem(18);
                }


                &:hover {
                    color: $globalnav-color-hover;
                }

                @include breakpointDown(tablet) {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $globalnav-color;
                }
            }

        }
    }

    .middle {
        margin-top: -6px;

        @include breakpointDown(tablet) {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: $globalnavmobile-background;
            flex-direction: column;
            align-items: flex-start !important;
            margin-top: rem(55);
            padding-bottom: rem(30);
            transition: all .5s ease-in-out;

            .items {
                width: 100%;

                a {
                    height: rem(48);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 0 rem(50);

                    &:hover {
                        .globalnav-link-chevron {
                            height: rem(48);
                            display: block;
                            margin-inline-end: -48px;
                            padding-inline-end: 19px;
                            transform-origin: center;
                            animation: trans .4s ease-in-out forwards;
                            text-align: right;

                            svg {
                                fill: currentColor;
                            }
                        }
                    }
                }
            }


        }
    }

    .right {
        margin-right: rem(15);
        margin-top: 5px;
        transition: visibility .3s ease-in;

        @include breakpointDown(tablet) {
            margin-right: rem(50);
        }
    }

}





@keyframes trans {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}